<div style="padding-top: 15px;">
  <%= content_tag :span, "#{@book.name} (#{@book.author})",
                  style: "font:bold 25px arial,sans-serif;"  %>

  <%= link_to 'Edit', edit_book_path(@book) %>
  <%= link_to 'Destroy', @book, :confirm => 'Are you sure?',
              :method => :delete %>
</div>

<h2>Notes</h2>
<div id="notes" style="padding-bottom: 40px;">
  <%= render @book.notes %>
</div>

<%= form_for([@book, @book.notes.new]) do |f| %>
    <div class="field">
      <%= f.text_area :note, size: "40x12" %>
    </div>
    <div class="actions">
      <%= f.submit "Add New Note" %>
    </div>
<% end %>
<p/>
<%= link_to 'Back', books_path %>
